.nav-header-item-apps svg {
  height: 30px;
}
.push-right {
    margin-left:auto;
}
.nav-header {
  display: flex;
  height: 30px;
}

.nav-footer{
    display: flex;
}



ul {
  list-style-type: none;
}
