* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  min-height: 50px;
  flex-shrink: 0;
  margin: 13px 8px 0 8px;
}
.nav-header {
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 2px;
  padding-top: 2px;
}

.nav-header-item-apps svg {
  height: 16px;
  width: 16px;
  display: inline-block;
  opacity: 0.5;
  padding-left: 7px;
  margin-right: -2px;
}

.nav-header-item-user svg {
  height: 48px;
  width: 48px;
  display: inline-block;
  padding-right: 13px;
}

.nav-header-link {
  display: inline-block;
  color: #000000;
  opacity: 0.75;
  padding-left: 15px;
}

.nav-header-link-svg {
  display: inline-block;
  color: #000000;
  padding: 5px 0px 0px 15px;
}
.nav-header-item-apps:hover svg {
  opacity: 1;
}

.main {
  text-align: center;
  flex: 1;
  min-width: 380px;
}

.google-logo {
  padding: 135px 0 24px;
  height: auto;
  max-width: 272px;
}

.search-container {
  height: 39px;
  max-width: 458px;
  border-style: solid;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 8px 0 16px;
  margin: 0 auto;
}
.search-container-contents {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.search-container:focus-within {
  box-shadow: 1px 1px 6px 1px #dcdcdc;
}

.search-container:hover {
  box-shadow: 1px 1px 6px 1px #dcdcdc;
}

textarea:focus,
input:focus {
  outline: none;
}

.magnify-glass {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -2px;
  top: 7px;
  opacity: 0.35;
}

input[type="text"] {
  width: 387px;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  border: none;
  padding: 1px 2px;
  font-size: 16px;
  color: #101010;
}

.microphone-logo {
  position: absolute;
  height: 24px;
  width: 24px;
  padding: 0px 10px;
  right: -2px;
  top: 5px;
}

.search-button-container button {
  height: 36px;
  min-width: 54px;
  padding: 0 16px;
  margin: 11px 4px;
  color: #3c4043;
  font-size: 14px;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 4px;
}
.search-button-container {
  padding-top: 18px;
}

input[type="submit"] {
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.search-button:hover {
  border: 1px solid #0000001a;
}

a:hover {
  text-decoration: underline;
}

.push-right {
  margin-left: auto;
}

.footer {
  flex-shrink: 0;
}

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  font-size: 14px;
}

.footer-nav-top-container {
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  padding: 11px 12px 12px 12px;
}

.nav-footer-link-australia {
  font-size: 15px;
  color: #6f6f6f;
  padding: 0 9px 0 18px;
}

.footer-nav-bottom-container {
  display: flex;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  padding: 12px 12px;
}

.nav-footer-link-left {
  color: #6f6f6f;
  padding: 0 9px 0 18px;
}

.nav-footer-link-right {
  color: #6f6f6f;
  padding: 0 18px 0 9px;
}

.footer-nav-left {
  min-width: 566px;

/* footer is moved to two lines */
@media only screen and (max-width: 805px) {
  main {
    background-color: red;
  }

  .footer-nav-bottom-container {
    flex-wrap: wrap;
  }

  .nav-footer-link-left {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-footer-link-right {
    margin-left: auto;
    margin-right: auto;
  }
}

/* header is removed from view */
@media only screen and (max-width: 380px) {
  main {
    background-color: blue;
  }
}
